<section id="app">

  <div class="container content">
    <div class="row">
      <div class="col-sm-9">
        <!-- Start of .well for shop #1 -->
        <div class="well">
          <h2 class="page-header">Chuckeyta's Cafe</h2>
          <div class="row">
            <div class="col-sm-5">
              <address>
                411 Flagler Ave
                <br>New Smyrna Beach, FL 32169
                <br>
                <abbr title="Phone">P:</abbr>(386) 428-2020
              </address>
              <p>
                It's located in the building that used to house Nichols Surf Shop which just moved to a little building next door. There are surfboards and other related items in the eclectic decor and the beach is just a couple blocks away. Awesome atmosphere here.
              </p>
            </div>
            <!-- End .col-sm-5 -->
              <div class="col-sm-7">
                <div id="chuckeyta-carousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#chuckeyta-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#chuckeyta-carousel" data-slide-to="1"></li>
                    <li data-target="#chuckeyta-carousel" data-slide-to="2"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="images/chuckeytas_front.png" alt="Chuckeyta's Cafe">
                    </div>
                    <!-- End .item -->
                    <div class="item">
                      <img src="images/chuckeytas_inside.png" alt="Chuckeyta's Cafe">
                    </div>
                    <!-- End .item -->
                    <div class="item">
                      <img src="images/chuckeytas_patio.png" alt="Chuckeyta's Cafe">
                    </div>
                    <!-- End .item -->
                  </div>
                  <!-- End .carousel-inner -->
                </div>
                <!-- End .chuckeyta-carousel -->
              </div>
            <!-- End .col-sm-7 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .well shop #1 -->

        <!-- Start of .well for shop #2 -->
        <div class="well">
          <h2 class="page-header">Caffe Di Riverwalk</h2>
          <div class="row">
            <div class="col-sm-5">
              <address>
                225 W Seminole Blvd #160<br>
                Sanford, FL 32771<br>
                <abbr title="Phone">P:</abbr>(407) 287-5681
              </address>
              <p>
                As the name implies, it's located on the St. John's river right on the Sanford
                Riverwalk trail. They've got really good food and coffee.
              </p>
            </div>
            <!-- End .col-sm-5 -->
            <div class="col-sm-7">
              <div id="riverwalk-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#riverwalk-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#riverwalk-carousel" data-slide-to="1"></li>
                  <li data-target="#riverwalk-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="images/riverwalk_front.png" alt="Caffe Di Riverwalk">
                  </div>
                  <!-- End .item -->
                  <div class="item">
                    <img src="images/riverwalk_inside.png" alt="Caffe Di Riverwalk">
                  </div>
                  <!-- End .item -->
                  <div class="item">
                    <img src="images/riverwalk_patio.png" alt="Caffe Di Riverwalk">
                  </div>
                  <!-- End .item -->
                </div>
                <!-- End .carousel-inner -->
              </div>
              <!-- End .riverwalk-carousel -->
            </div>
            <!-- End .col-sm-7 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .well for shop #2 -->

        <!-- Start of .well for shop #3 -->
        <div class="well">
          <h2 class="page-header">Black Point Cafe</h2>
          <div class="row">
            <div class="col-sm-5">
              <address>
                882 North Point St<br>
                San Francisco, CA 94109<br>
                <abbr title="Phone">P:</abbr>(415) 800-8448
              </address>
              <p>
                Black Point is located nearly in the middle of the tourist district but has a distinct
                local feel and great coffee. The rustic wood timber on a steep hill creates a very
                interesting setting.
              </p>
            </div>
            <!-- End .col-sm-5 -->
            <div class="col-sm-7">
              <div id="blackpoint-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#blackpoint-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#blackpoint-carousel" data-slide-to="1"></li>
                  <li data-target="#blackpoint-carousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="images/blackpoint_front.png" alt="Black Point Cafe">
                  </div>
                  <!-- End .item -->
                  <div class="item">
                    <img src="images/blackpoint_inside.png" alt="Black Point Cafe">
                  </div>
                  <!-- End .item -->
                  <div class="item">
                    <img src="images/blackpoint_patio.png" alt="Black Point Cafe">
                  </div>
                  <!-- End .item -->
                </div>
                <!-- End .carousel-inner -->
              </div>
              <!-- End .blackpoint-carousel -->
            </div>
            <!-- End .col-sm-7 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .well for shop #3 -->
      </div>
      <!-- End .col-sm-9 -->
      <div class="col-sm-3" ng-include="'views/about.html'" />
      <!-- End .col-sm-3 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container.content -->

</section>
